{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1>Liste des entreprises</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.ville }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.cp }}</td>
                <td>
                    <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}">voir</a>
                    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune entreprise trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_new') }}" class="btn btn-primary">Ajouter</a>
{% endblock %}
